:root{
  --color--body: #abf0ed;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

*, *::after, *::before{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto Mono', monospace;
  background: linear-gradient(135deg, rgb(0, 255, 149) 0%, rgb(0, 128, 122) 100%);
}

form{
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  width: 50%;
  display: grid;
  grid-template-rows: repeat(4, 104px);
  padding: 40px 45px 30px;
  border-radius: 16px;
  position: relative;
}

form::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 150px;
  background: linear-gradient(65deg, #16d9e7, #5ef9a4);
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
} 

.pseudo__container{
  margin: 23px 0;
}

.confirm__container{
  margin-top: 30px;
}

.email__container, .password__container{
  margin-top: 25px;
}

.icons {
  position: absolute;
  cursor: pointer;
}

.icons:hover{
  color: brown;
}

.icons--password, .icons--confirm{
  top: 18px;
  right: 30px;
}

#eye__slach__top{
  display: none;
}

#eye__slash__bottom{
  display: none;
}

.far{
  position: absolute;
}

.pseudo__container, .confirm__container, .password__container, .email__container{
  position: relative;
}

.label{
  transform: translateY(-37px);
  text-shadow: 0 0 4px #04173567;
  color: #15097e;
}

label {
  letter-spacing: 1px;
  font-size: 1.1rem;
  margin-top: 10px;
  position: absolute;
  top: 5px;
  left: 10px;
  transition: .2s ease-in-out;
  cursor: pointer;
}

label, input[type="submit"]{
  text-shadow: 0 0 3.5px #09454bc7;
}

input[type="text"], input[type="password"]{
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding-left: 10px;
  outline: none;
  border: 1px solid transparent;
  background: #f1f1f12c;
  transition: 0.2s;
  font-size: 1.1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
} 

input[type="submit"] {
  border: none;
  background: linear-gradient(65deg, #16d9e7, #5ef9a4);
  width: 50%;
  margin: 10px auto 0;
  padding: 10px;
  border-radius: 150px;
  font-size: 1.2rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.5s ease;
} 

input[type="submit"]:hover {
  transform: translateX(2px);
   background: #04ecbaab;
  box-shadow: inset 4px 4px 4px #b0b0b0, inset -3px -3px 3px #ffffffce;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-radius: 15px;
  background: #04ecbaab;
  box-shadow: inset 4px 4px 4px #b0b0b0, inset -3px -3px 3px #ffffffce;
}

.error span{
  visibility: visible;
  font-family: 'Caveat', cursive;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.error span, .error input{
  color: red;
}
.error input {
  border: 1px solid rgba(255, 0, 0, 0.527);
}

p {
  width: 33%;
  height: 5px;
  margin: 5px 0 3px;
  border-radius: 100px;
  visibility: hidden;
  transition: 0.1s;
}

.progressRed, .progressBlue, .progressGreen {
  visibility: visible;
  border-radius: 30px;
  height: 5px;
  transition: 0.3s ease-in-out;
}
p, .progressRed {
  background: red;
}
.progressRed {
  width: 33%;
}

.progressBlue {
  background: aqua;
  width: 67%;
}

.progressGreen {
  background: green;
  width: 100%;
}

.display{
  display: none;
  color: black;
}

.visible{
  display: initial;
  color: brown
}